.header {
  grid-area: header; /* Set the grid area */
  background-color: rgb(89, 88, 86); /* Set the background color */
  color: white; /* Set the text color */
  padding: 20px; /* Add padding */
  box-shadow: 10px 25px 20px rgba(31, 77, 59, 0.1); /* Add box shadow */
}

.header-button {
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}
.PropertyBox {
  background-color: "red";
}
