.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 40%;
  margin-left: 35%;
  margin-top: 10%;
  background-color: #ffffff; /* Set the background color */
  border-radius: 15px; /* Optional: Add border radius for rounded corners */
  box-shadow: 0px 15px 35px rgb(210, 216, 210);
}
.mainContainerRegister {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 40%;
  margin-left: 35%;
  margin-top: 2%;
  background-color: #ffffff; /* Set the background color */
  border-radius: 15px; /* Optional: Add border radius for rounded corners */
  box-shadow: 0px 15px 35px rgb(210, 216, 210);
}

.box {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff; /* Set the background color */
  border-radius: 10px; /* Optional: Add border radius for rounded corners */
  box-shadow: 0px 4px 10px rgba(30, 134, 92, 0.1); /* Set the box shadow */
}

.titleContainer {
  /* display: flex; */
  /* flex-direction: column; */
  /* margin-top: 60px; */
  font-size: 44px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
}

.resultContainer,
.historyItem {
  flex-direction: row;
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
}

.historyContainer {
  flex-direction: column;
  display: flex;
  height: 200px;
  align-items: center;
  flex-grow: 5;
  justify-content: flex-start;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 260px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.inputContainer > .errorLabel {
  color: red;
  font-size: 12px;
}

.inputBox {
  height: 48px;
  width: 400px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
}

.inputBoxRegister {
  height: 34px;
  width: 400px;
  font-size: large;
  margin-top: 1px;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
}
.inputButton {
  background-color: aqua;
}
.label {
  margin-bottom: 5px;
}
